doctype strict
html
  body
    div
      pre#log
script.
  const backend = !{JSON.stringify(backend)};
  window.onmessage = function(e) {
    if (e.data) {
      fetch(backend, { method: 'POST', body: e.data })
        .then(() => {
          window.parent.postMessage({ kind: 'saved' }, '*')
        })
        .catch(err => {
          window.parent.postMessage({ kind: 'error', message: err.message }, '*')
        })
    }
  }
  window.parent.postMessage({ kind: 'loaded' }, '*')
