doctype strict
html
  body
    div
      pre#log
script.
  const backend = !{JSON.stringify(backend)};
  window.onmessage = function(e) {
    if (e.data) {
      fetch(backend, { method: 'POST', body: e.data, headers: { 'Content-Type': 'application/json' } })
        .then((response) => {
          if (response.ok) {
            window.parent.postMessage({ kind: 'saved' }, '*')
          } else {
            response.text().then(function (message) {
              window.parent.postMessage({ kind: 'error', message }, '*')
            })
          }
        })
        .catch(err => {
          window.parent.postMessage({ kind: 'error', message: err.message }, '*')
        })
    }
  }
  window.parent.postMessage({ kind: 'loaded' }, '*')
