treechildren::-moz-tree-row(odd) { background-color: #EEEEEE; }
treechildren.itemType::-moz-tree-checkbox { background-color: #6D88A8; }

treechildren::-moz-tree-checkbox {
  list-style-image: url("checkbox_no.png");
  -moz-appearance: checkbox-container;
}

treechildren::-moz-tree-checkbox(not-editable) {
  list-style-image: none;
  -moz-appearance: checkbox-container;
}

treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url("checkbox_yes.png");
  -moz-appearance: checkbox-container;
}

#sortOrder listheader { padding-left: 0px; }
#sortOrder listitem { padding-left: 20px; }
#sortOrder listitem.report-sort-order-a { background:url("arrow-down.png") center left no-repeat; }
#sortOrder listitem.report-sort-order-d { background:url("arrow-up.png") center left no-repeat; }
